/* Jasmine's styling */

h1 {
    font-family: Helvetica;
    text-align: center;
    color: black;
  }
  
  .myTitles {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: left;
  }
  
  body {
    background-color: #eeeeee;
    padding: 100px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
  }
  
  
  .contriInput {
    padding: 10px;
    border-radius: 10px;
    border-color: #ffffff;
    border-style: solid;
    outline: none;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 40%;
  }
  #submitContributionButton {
    background: #0088cc;
    width: 20%;
    border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 100;
    padding: 14px;
    border: solid #0088cc 1px;
    margin-top: 30px;
  }

  #submitContributionButton:hover {
    border: solid 	#979797 1px;
    background: 	#979797;
    -webkit-border-radius: 20px;
    -moz-border-radius: 14px;
    border-radius: 8px;
    text-decoration: none;
  }

  .navbar-nav > .active > a {
    background-color: #eeeeee;
  }

  .footerContainer {
    text-align: center;
    width:100%;
    position: static;
    bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .footerText {
    font-family: Helvetica;
    font-size: 10px;
    color: black;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  