/* Jasmine's styling */

h1 {
    font-family: Helvetica;
    text-align: center;
    color: black;
  }
  
  
  body {
    background-color: 	#eeeeee;
    padding: 100px;
    display: flex;
    flex-direction: column;
    color: #666666;
    font-family: Helvetica;
  }
  
  .myButton {
    background: 	#0088cc;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 100;   
    padding: 14px;
    border: solid 	#0088cc 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px 10px 20px 10px;
    width: 50%;
  }
  
  .button-centraliser {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .footerContainer {
    text-align: center;
    width:100%;
    position:fixed;
    bottom: 0px;
    padding-bottom: 20px;
  }
  
  .footerText {
    font-family: Helvetica;
    font-size: 10px;
    color: black;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#979797;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color:#0088cc;
  }
  
  .dot-container {
    text-align: center;
    padding: 30px 20px 20px 20px;
    height: 10%;
  }
  
  .myQuestions {
    display: none;
    text-align: center;
    height: 90%;
  }
  .questionContainer {
    display: block;
  }
  .prev,
  .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: fixed;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    position: fixed;
    left: 0;
    display: none;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  
  .starter {
    display: block;
  }
 
  
  