/* Jasmine's styling */

h1 {
  font-family: Helvetica;
  text-align: center;
  color: white;
}

.myTitles {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.sampleImg {
  width: 49%;
  margin-top: 30px;
}

body {
  background-color: #41b3a3;
  padding: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Helvetica;
  align-items: center;
}

hr {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  background-color: white;
}

.subIngredients,
.subInstructions {
  margin-left: 20px;
}

#beginCookingButton,
#letsGoButton,
#submitContributionButton {
  background: #c38d9e;
  width: 20%;
  border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  padding: 14px;
  border: solid #c38d9e 1px;
  margin-top: 30px;
}

#beginCookingButton:hover,
#letsGoButton:hover,
#submitContributionButton:hover {
  border: solid #e8a87c 1px;
  background: #e8a87c;
  -webkit-border-radius: 20px;
  -moz-border-radius: 14px;
  border-radius: 8px;
  text-decoration: none;
}

textarea {
  width: 50%;
  height: 100px;
}

input {
  width: 30%;
  height: 20px;
}

.contriInput {
  padding: 10px;
  border-radius: 30px;
  border-color: #ffffff;
  border-style: solid;
  outline: none;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 40%;
}

/* search page */
.searchInput {
  padding: 15px;
  border-radius: 30px;
  border-color: #ffffff;
  border-style: solid;
  outline: none;
  align-self: center;
  width: 70%;
}

.searchHeader {
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: Helvetica;
  padding: 20px;
}

/* landing page */
.background-layer {
  display: flex;
  flex-direction: column;
  padding: 150px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background-color: #41b3a3;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.body-layer {
  background: radial-gradient(white 0%, grey 35%, black 100%);
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.signinInput {
  padding: 5px;
  border-radius: 30px;
  border-color: #ffffff;
  border-style: solid;
  outline: none;
  margin: 5px 0px 5px 0px;
  width: 40%;
}

.logo {
  color: gray;
  font-size: 50px;
  font-family: -apple-system;
  margin: auto;
}

.myButton {
  background: #0088cc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 100;
  padding: 14px;
  border: solid #666666 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px 10px 20px 10px;
  width: 50%;
}

.myButton:hover {
  border: solid #979797 1px;
  background: #979797;
  -webkit-border-radius: 20px;
  -moz-border-radius: 14px;
  border-radius: 8px;
  text-decoration: none;
}

.button-centraliser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.footerContainer {
  text-align: center;
  padding-top: 10px;
}

.footerText {
  font-family: Helvetica;
  font-size: 10px;
  color: black;
}

/* search page */
.searchInput {
  padding: 15px;
  border-radius: 30px;
  border-color: #ffffff;
  border-style: solid;
  outline: none;
}

.searchHeader {
  text-align: center;
  color: white;
  font-size: 32px;
  font-family: Helvetica;
  padding: 20px;
}

/* landing page */
.background-layer {
  display: flex;
  flex-direction: column;
  padding: 150px;
  width: 50%;
  height: 50%;
  border-radius: 20px;
  background-color: #41b3a3;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.body-layer {
  background: radial-gradient(white 0%, grey 35%, black 100%);
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.signinInput {
  padding: 5px;
  border-radius: 30px;
  border-color: #ffffff;
  border-style: solid;
  outline: none;
  margin: 5px 0px 5px 0px;
  width: 40%;
}

.logo {
  color: gray;
  font-size: 50px;
  font-family: -apple-system;
  margin: auto;
}

.navbar-nav > .active > a {
  background-color: #41b3a3;
}
